Duy.FootballData.Client/obj/
Duy.FootballData.App/obj/
.vs/
Duy.FootballData.App/bin/Debug/
Duy.FootballData.Client/bin/Debug/
Duy.FootballData.Models/bin/Debug/
Duy.FootballData.Models/obj/
Duy.FootballData.Client/bin/Release/
Duy.FootballData.Common/bin/Debug/
Duy.FootballData.Common/bin/Release/
Duy.FootballData.Common/obj/
Duy.FootballData.Models/bin/Release/
